@{
    ViewData["Title"] = "Edit Alert Rate";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success">
        @ViewData["Message"]
    </div>
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

<form method="post" asp-action="UpdateAlertRate" id="alertRateForm">
    <div class="form-group">
        <label for="paramValue">Alert Rate</label>
        <input type="number" min="0" max="100" class="form-control" id="paramValue" name="paramValue" required />
    </div>
    <button type="submit" class="btn btn-primary" id="submitBtn">
        <span id="spinner" style="display:none;" class="spinner" ></span> Update Alert Rate
    </button>
</form>

<script>
    document.getElementById("alertRateForm").onsubmit = function () {
        showLoadingState('submitBtn', 'spinner');
    };
</script>